.text-color {
    color: #393A62;

}
.text-orange {
    color: #EA4C3C;

}
.bg-orange {
    background-color: #EA4C3C;
}
.border-bottom-orange {
    border-bottom: 1px solid #EA4C3C;
}
.bg-page-2{
    background-color: rgba(247, 244, 255, 1);
}
.text-color-page2{
    color:rgba(40, 26, 81, 1);
}
.btn-color-page2{
    background-color: rgba(40, 26, 81, 1);
}
.bg-page-3{
    background-color: rgba(230, 234, 248, 1);
}

.bg-card-page3{
    background-color: rgba(251, 252, 255, 1);
}
.text-color-secondary-page3{
    color:rgba(81, 111, 212, 1);
}
.border-page3{
    border: 1px solid rgba(191, 200, 229, 1);
}